* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

a {
  color: black !important;
  text-decoration: none;
}

.headers {
  color: #ff4858;
  height: 20%;
  text-align: center;
}

.logo {
  height: 100%;
  margin: 0;
  margin-left: 30%;
  padding: 0;
  padding-top: 2.5rem;
}

.logo_box {
  color: #ffffff;
  background-color: #ff4858;
  border-radius: 0.5rem;
}

.top {
  display: flex;
  color: #ff4858;
  height: 15%;
  text-align: center;
  padding-top: 2rem;
  padding-left: 0.5rem;
}

.fas {
  font-size: 2rem;
  padding-top: 0.5rem;
}

.title {
  flex: 1;
  padding-right: 5%;
  text-align: center;
  margin-bottom: 2rem;
  color: #495057;
}

h3 {
  padding: 0 !important;
}

#bar {
  display: flex;
}

.outer {
  display: grid;
  grid-template-rows: 1fr 2fr 1fr;
}

.header {
  text-align: center;
  padding-bottom: 1em;
}

.head {
  padding-bottom: 1em;
}

.dot {
  height: 70px;
  width: 70px;
  background-color: #ff4858;
  border-radius: 50%;
  line-height: 70px;
  text-align: center;
  margin: auto;
  color: white;
}

.info {
  display: grid;
  border-radius: 10px;
  margin: 10px;
  height: 300px;
  padding-right: 40px;
}

#info1 {
  display: flex;
  padding: 5px;
  border-color: rgb(199, 199, 199);
  border-bottom-style: solid;
  border-width: thin;
}

#info1:hover {
  border-color: #ff4858;
  border-bottom-style: solid;
  border-width: thick;
  border-radius: 10px;
}

#info2 {
  display: flex;
  padding: 5px;
  border-color: rgb(199, 199, 199);
  border-bottom-style: solid;
  border-width: thin;
}

#info2:hover {
  border-color: #ff4858;
  border-bottom-style: solid;
  border-width: thick;
  border-radius: 10px;
}

#info3 {
  display: flex;
  padding: 5px;
  border-color: rgb(199, 199, 199);
  border-bottom-style: solid;
  border-width: thin;
}

#info3:hover {
  border-color: #ff4858;
  border-bottom-style: solid;
  border-width: thick;
  border-radius: 10px;
}

#info4 {
  display: flex;
  padding: 5px;
  border-color: rgb(199, 199, 199);
  border-bottom-style: solid;
  border-width: thin;
}

#info4:hover {
  border-color: #ff4858;
  border-bottom-style: solid;
  border-width: thick;
  border-radius: 10px;
}

#info5 {
  display: flex;
  padding: 5px;
  border-color: rgb(199, 199, 199);
  border-bottom-style: solid;
  border-width: thin;
}

#info5:hover {
  border-color: #ff4858;
  border-bottom-style: solid;
  border-width: thick;
  border-radius: 10px;
}

#title {
  display: flex;
  flex-grow: 3;
}

ul {
  list-style: none;
}

li {
  padding: 10px;
}

.button_group {
  display: flex;
  justify-content: space-evenly;
}

.logout {
  text-align: center;
}

.footer {
  text-align: center;
  font-size: 10px;
  color: gray;
}
