<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/aboutus.css" />
    <link rel="stylesheet" href="../css/bootstrap.min.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="icon" href="../Images/favicon.ico" />
    <title>Isowaytion</title>
  </head>
  <body>
    <div class="container">
      <div class="top">
        <i class="fas fa-angle-left" onclick="history.back()"></i>
        <h2 class="title">
          About Us
        </h2>
      </div>
      <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-5">Stay safe at home<br />Stay away at walk</h1>
          <p class="lead">
            Team Horton is passionate about making people's lives productive and
            safe. We're all very serious about self isolation. Collaborating together 
            exclusively through online methods has been a challenge, but we're greatful 
            we have each other to talk to while were trapped in our homes. We want to make sure 
            people have the ability to safely walk outdoors. So use our app, Isowaytion!
          </p>
        </div>
      </div>
      <div class="cards">
        <h1 class="display-5">TEAM</h1>
        <div class="card mb-3" style="width: 18rem;">
          <img
            class="card-img-top"
            src="../Images/ryan.jpg"
            alt="Card image cap"
          />
          <div class="card-body">
            <p class="card-text"><span class="aboutus_name">Jay</span> Han</p>
          </div>
        </div>
        <div class="card mb-3" style="width: 18rem;">
          <img
            class="card-img-top"
            src="../Images/bunny.jpg"
            alt="Card image cap"
          />
          <div class="card-body">
            <p class="card-text"><span class="aboutus_name">Ciro</span> Wen</p>
          </div>
        </div>
        <div class="card mb-3" style="width: 18rem;">
          <img
            class="card-img-top"
            src="../Images/duck.jpg"
            alt="Card image cap"
          />
          <div class="card-body">
            <p class="card-text">
              <span class="aboutus_name">Daichi</span> Keber
            </p>
          </div>
        </div>
        <div id="bottom_emoji" class="card" style="width: 18rem;">
          <img
            class="card-img-top"
            src="../Images/dog.jpg"
            alt="Card image cap"
          />
          <div class="card-body">
            <p class="card-text">
              <span class="aboutus_name">Hawkan</span> Zheng
            </p>
          </div>
        </div>
      </div>
    </div>
    <script
      src="https://kit.fontawesome.com/df012b2a98.js"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
