* {
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

nav {
    background-color: #ff4858;
    color: white;
    font-size: 20px;
}

#bar {
    display: flex;
}

.outer {
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
}

.header {
    text-align: center;
    padding-bottom: 1em;
}

.head {
    padding-bottom: 1em;
}

.dot {
    height: 70px;
    width: 70px;
    background-color: #ff4858;
    border-radius: 50%;
    line-height: 70px;
    text-align: center;
    margin: auto;
    color: white;
}

.info {
    display: grid;
    border-radius: 10px;
    margin: 10px;
    height: 300px;
    padding-right: 40px;
}

#info1 {
    display: flex;
    padding: 5px;
    border-color: rgb(199, 199, 199);
    border-bottom-style: solid;
    border-width: thin;
}

#info1:hover {
    border-color: #ff4858;
    border-bottom-style: solid;
    border-width: thick;
    border-radius: 10px;
}

#info2 {
    display: flex;
    padding: 5px;
    border-color: rgb(199, 199, 199);
    border-bottom-style: solid;
    border-width: thin;
}

#info2:hover {
    border-color: #ff4858;
    border-bottom-style: solid;
    border-width: thick;
    border-radius: 10px;
}

#info3 {
    display: flex;
    padding: 5px;
    border-color: rgb(199, 199, 199);
    border-bottom-style: solid;
    border-width: thin;
}

#info3:hover {
    border-color: #ff4858;
    border-bottom-style: solid;
    border-width: thick;
    border-radius: 10px;
}

#info4 {
    display: flex;
    padding: 5px;
    border-color: rgb(199, 199, 199);
    border-bottom-style: solid;
    border-width: thin;
}

#info4:hover {
    border-color: #ff4858;
    border-bottom-style: solid;
    border-width: thick;
    border-radius: 10px;
}

#info5 {
    display: flex;
    padding: 5px;
    border-color: rgb(199, 199, 199);
    border-bottom-style: solid;
    border-width: thin;
}

#info5:hover {
    border-color: #ff4858;
    border-bottom-style: solid;
    border-width: thick;
    border-radius: 10px;
}

#title {
    display: flex;
    flex-grow: 3;
}

ul {
    list-style: none;
}

li {
    padding: 10px;
}

.button_group {
    display: flex;
    justify-content: space-evenly;
}

.logout {
    text-align: center;
}

.footer {
    text-align: center;
    font-size: 10px;
    color: gray;
}