<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Style Links -->
    <link rel="stylesheet" type="text/css" href="../css/accountstyle.css">
    <link rel="stylesheet" href="../css/bootstrap.min.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="icon" href="../Images/favicon.ico" />
</head>
<body>
    <div class="outer"></div>
        <!-- NavBar -->
        <div class="top">
            <i class="fas fa-angle-left"></i>
            <h3 class="logo"><span class="logo_box">Iso</span>waytion</h3>
          </div>
        </br>
        <!-- User's Name -->
        <div class="header">
            <div class="head">
                <form action="/myAccount" method="post">
                    <h1><%= currentInfo[1] %></h1>
                </form>
            </div>
            <div class="dot"><b>DK</b></div>
        </br>
            <h4>Daichi Keber</h4>
        </div>
        <!-- Account info Options -->
        <div class="info">
            <ul>
                <div id="info1">
                    <li id="title1" ><a href="/editInfo"><b>Edit Info</b></a></li>
                    <li><b>></b></li>
                </div>
                <div id="info2">
                    <li id="title2"><a href="/isostats"><b>IsoStats</b></a></li>
                    <li><b>></b></li>
                </div>
                <div id="info3">
                    <li id="title3"><a href="/leaderboard"><b>Leaderboard</b></a></li>
                    <li><b>></b></li>
                </div>
                <div id="info4">
                    <li id="title4"><a href="/aboutus"><b>About Us</b></a></li>
                    <li><b>></b></li>
                </div>
                <div id="info5">
                    <li  id="title5"><b>Help</b></li>
                    <li><b>></b></li>
                </div>
            </ul>
        </div>
        <!-- Signout Button -->
        <div class="logout">
        <div id="button_group">
            <button class="btn btn-outline-primary signout">Sign Out</button>
        </div>
    </div>
    </br>
    <p class="footer">COMP2800 Team Horton</p>
    </div>
    <script
      src="https://kit.fontawesome.com/df012b2a98.js"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
</body>
</html>