<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Updated</title>
</head>
<body>
    <h1>Updated Name: <%= updatedName %></h1>
    <h1>Updated Address: <%= updatedAddress %></h1>
</body>
</html>