* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.top {
  display: flex;
  color: #ff4858;
  height: 12%;
  text-align: center;

  padding-top: 2rem;
  padding-left: 0.5rem;
}

.fas {
  font-size: 2rem;
  padding-top: 0.5rem;
}

#currentUser:hover {
  border-color: #ff4858;
  border-style: solid;
  border-width: thin;
  border-radius: 10px;
}

.title {
  flex: 1;
  padding-right: 5%;
  text-align: center;
  margin-bottom: 2rem;
  color: #495057;
}

nav {
  background-color: #ff4858;
  color: white;
  font-size: 20px;
}

#bar {
  display: flex;
}

.outer {
  display: grid;
  grid-template-rows: 1fr;
  padding-top: 2em;
}

.header {
  text-align: center;
}

.info {
  display: grid;
  border-radius: 10px;
  margin: 10px;
  padding-right: 40px;
}

#userInfo {
  display: flex;
  padding: 5px;
  border-color: #ff4858;
  border-style: solid;
  border-width: 2px;
  border-radius: 10px;
  width: 100%;
  background-color: white;
  color: #ff4858;
  font: "TeXGyreAdventorBold";
}


.userDisplay {
  display: flex;
  padding: 5px;
  border-color: rgb(199, 199, 199);
  border-bottom-style: solid;
  border-width: thin;
  width: 100%;
  border-top-style: none;
  border-left: none;
  border-right: none;
  background-color: white;
  border-bottom-color: rgb(202, 202, 202);
  color: #ff4858;
  font: "TeXGyreAdventorBold";
}

.userDisplay:hover {
  border-color: #ff4858;
  border-bottom-style: solid;
  border-width: thick;
  border-radius: 10px;
}

#title {
  display: flex;
  flex-grow: 5;
}

ul {
  list-style: none;
}

li {
  padding: 10px;
}

.slide-in-blurred-top {
  -webkit-animation: slide-in-blurred-top 0.6s cubic-bezier(0.23, 1, 0.32, 1)
    both;
  animation: slide-in-blurred-top 0.6s cubic-bezier(0.23, 1, 0.32, 1) both;
}

@-webkit-keyframes slide-in-blurred-top {
  0% {
    -webkit-transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
    transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) scaleY(1) scaleX(1);
    transform: translateY(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}
@keyframes slide-in-blurred-top {
  0% {
    -webkit-transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
    transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) scaleY(1) scaleX(1);
    transform: translateY(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}
#stretch {
  display: flex;
}

#user {
  display: flex;
  padding: 5px;
  border-color: rgb(199, 199, 199);
  border-bottom-style: solid;
  border-width: thin;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  margin: auto;
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #ffffff !important;
  opacity: 0.8;
  margin: auto;
  padding: 20px;
  width: 80% !important;
  color: #495057 !important;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
