* {
  box-sizing: border-box;
}

#map {
  height: 50%;
  width: 100%;
  margin: auto;
}

/* Optional: Makes the sample page fill the window. */
html,
body {
  height: 100%;
  width: 100%;
  margin: auto;
}

a {
  color: black !important;
  text-decoration: none;
  display: inline-block;
  width: 20%;
  margin-left: 10%;
}

i {
  margin-left: 5%;
  margin-top: 1rem;
}

.adp-listsel {
  background-color: rgba(247, 75, 90, 0.658) !important;
  color: white !important;
  font-weight: bold;
}

.logo {
  height: 100%;
  margin: 0;
  margin-left: 25%;
  padding: 0;
  padding-top: 1.5rem;
}

.logo_box {
  color: #ffffff;
  background-color: #ff4858;
  border-radius: 0.5rem;
}

.top {
  display: flex;
  color: #ff4858;
  text-align: center;
  background-color: #ffeeee;
  height: 12%;
}

.fas {
  font-size: 2rem;
  padding-top: 0.5rem;
}

.controls {
  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#origin-input,
#destination-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  text-overflow: ellipsis;
  width: 150px;
}

#origin-input:focus,
#destination-input:focus {
  border-color: #4d90fe;
}

.time {
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  text-overflow: ellipsis;
  width: 145px;
  border-style: thin;
  border-color: #ff4858;
}

#submit-button {
  border-radius: 2px 0 0 2px;
  border-color: #ff4858;
  border-style: thin;
}

#bottom-panel select,
#bottom-panel input {
  font-size: 15px;
}

#bottom-panel select {
  width: 100%;
}

#bottom-panel i {
  font-size: 12px;
}
#bottom-panel {
  height: 40%;
  width: 100%;
  overflow-y: auto;
  margin: auto;
  background-color: #ff4858;
  color: #fff !important;
  line-height: 30px;
  border: 0px solid #fff;
}

#bottom-panel h5 {
  text-align: center;
}

.adp-warnbox {
  display: none;
}

.adp-placemark {
  margin-top: 0px !important;
  border-top: 2px solid #ff4858 !important;
  font-weight: bold !important;
}

.adp-listheader {
  font-weight: bold;
  border-bottom: 2px solid #ff4858 !important;
}

.adp-list {
  padding: 0px !important;
}

.adp-legal {
  color: #fff !important;
}

.adp-summary {
  color: #fff !important;
  font-weight: bold !important;
}

td {
  background-color: #fff !important;
  color: #ff4858 !important;
  border-top: 1px solid #fff !important;
  border-bottom: 1px solid #fff !important;
}

tr {
  border-top: 1px solid #fff !important;
  border-bottom: 1px solid #fff !important;
}

input {
  display: inline-block;
}

img {
  width: 80px;
  height: 80px;
}

.text-focus-in {
  -webkit-animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

/* Animations */
@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

.roll-in-top {
  -webkit-animation: roll-in-top 0.6s ease-out both;
  animation: roll-in-top 0.6s ease-out both;
}

@-webkit-keyframes roll-in-top {
  0% {
    -webkit-transform: translateY(-800px) rotate(-540deg);
    transform: translateY(-800px) rotate(-540deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) rotate(0deg);
    transform: translateY(0) rotate(0deg);
    opacity: 1;
  }
}
@keyframes roll-in-top {
  0% {
    -webkit-transform: translateY(-800px) rotate(-540deg);
    transform: translateY(-800px) rotate(-540deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) rotate(0deg);
    transform: translateY(0) rotate(0deg);
    opacity: 1;
  }
}

.roll-in-left {
  -webkit-animation: roll-in-left 0.6s ease-out both;
  animation: roll-in-left 0.6s ease-out both;
}
@-webkit-keyframes roll-in-left {
  0% {
    -webkit-transform: translateX(-800px) rotate(-540deg);
    transform: translateX(-800px) rotate(-540deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) rotate(0deg);
    transform: translateX(0) rotate(0deg);
    opacity: 1;
  }
}
@keyframes roll-in-left {
  0% {
    -webkit-transform: translateX(-800px) rotate(-540deg);
    transform: translateX(-800px) rotate(-540deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) rotate(0deg);
    transform: translateX(0) rotate(0deg);
    opacity: 1;
  }
}
